/* Empty. Add your own CSS if you like */
.item-input {
    margin: 5px 0px;
}
.has-errors {
    border: 1px solid red;
}
.fixed-height {
    height: 93px;
}
@keyframes refresh {
    0% {border-color: #11c1f3;}
    100% {border-color: #dddddd;}
}
.green {
    background-color: #43ba6f;
}
.grayText {
    color: #7d7d7d;
}
.font {
    font-family: "roboto light", "segoe ui light", "helveticaneue-thin", "roboto-light", "sans-serif";
    font-size: 20px;
}
::-webkit-input-placeholder {
 font-family: "roboto light", "segoe ui light", "helveticaneue-light", "roboto-light" "sans-serif";
 font-size: 16px;
}
.custom-padding {
    font-size: 40px;
}
.icon-small{
    font-size: 48px; 
    position: relative;

}
.nav-font {
    font-family: "roboto light", "segoe ui light", "helveticaneue-thin", "roboto-light", "sans-serif";
    font-size: 40px;
}